{%extends 'layout.html'%}
{%block style%}
<style>
  body{
    background: red;
    background: url(../static/happiness.jpg) no-repeat;
    background-size: cover;
  }
  .container{
    background: rgba(0, 0, 0, 0.6);
    color: gold;
    padding: 0 20px 0 0 ;
    border-radius: 10%;
  }
  img{
    border-radius: 10%;
    opacity: 0.8;
  }
  </style>
{%endblock style%}
    {%block content%}

    <div class="container">
        <div class="row">
          <div class="col-6">
            <div>
                <img src="../static/happy.jpg" height="400px"  alt="Editorial Board">
            </div>
          </div>
          <div class="col-6 fs-2">
            <p>Good Choice ! If you want to join the Editorial B oard , Click on "Click Here" given below .</p><br>
            <p><a target="u_blank" href="https://forms.office.com/Pages/ResponsePage.aspx?id=FNT6_6O2Mk-pvULSj8gR8fVjRH7lkwNKqTXuxc4fpVlUMlREWTVUS0I4WFFZMDZXTzE4ODkzSVUwVC4u"> <button class="btn-underline btn btn-primary"> <span>Click here</span> </button> </a>To Join The Club !</p>
        
          </div>
        </div>
    </div>
    {%endblock%}