{%extends 'layout.html'%}
  {%block style%}
    <style>
      body{
        background: red;
        background: url(../static/school_logo.jpg) no-repeat;
        background-size: cover; 
      }
      .container div{
        opacity: 0.85;
      }
      .container div:hover{
        opacity: 1;
      }
      </style>
    {%endblock style%}
    
    {%block content%}
    <div class="container">
      <div class="row bg-body shadow-lg p-3 mb-5 rounded fst-italic">
        <div class="col ">
          <img src="../static/Readers Club.png" class="img-fluid" alt="...">
          <div class="d-grid gap-2">
                          <button class="btn btn-primary" type="button"><a href="/readersclub">Join Now ! </a></button>

          </div>
        </div>
        <div class="col ">
          <p class="gmail text-dark fs-6"> “ A reader lives a thousand lives before he dies . . . The man who never reads lives only one. ” - George R.R. Martin.
            Reading is a conversation.All books talk, But a good book listens as well. So, join the Readers Club if you want experience the Magic of Reading.</p>
        </div>
          <div class="col">
            <img src="../static/environmental club.png" class="img-fluid" alt="...">
            <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="button"><a href="/environmentalclub">Join Now ! </a></button>

            </div>
          </div>
          <div class="col">
            <p class="gmail text-dark fs-6">"Environment is no one’s property to destroy; it’s everyone’s responsibility to protect."
              Join the Environmental to experience the creative space of Biodiversity or even find one. Find ways to protect this amazing thing God has given us.</p>
          </div>
      </div>
      <div class="row bg-secondary text-white shadow-lg p-3 mb-5  rounded fst-italic">
        <div class="col ">
          <img src="../static/Quiz Society.png" class="img-fluid" alt="...">
          <div class="d-grid gap-2">
                          <button class="btn btn-primary" type="button"><a href="/environmentalclub">Join Now ! </a></button>

          </div>
        </div>
        <div class="col ">
          <p class="gmail text-warning fs-6 align-bottom"> “ A reader lives a thousand lives before he dies . . . The man who never reads lives only one. ” - George R.R. Martin.
            Reading is a conversation.All books talk, But a good book listens as well. So, join the Readers Club if you want experience the Magic of Reading.</p>
        </div>
          <div class="col">
            <img src="../static/Readers Club.png" class="img-fluid" alt="...">
            <div class="d-grid gap-2">
              <button class="btn btn-primary" type="button"><a href="/readersclub">Join Now ! </a></button>
            </div>
          </div>
          <div class="col">
            <p class="gmail text-warning fs-6"> “ A reader lives a thousand lives before he dies . . . The man who never reads lives only one. ” - George R.R. Martin.
              Reading is a conversation.All books talk, But a good book listens as well. So, join the Readers Club if you want experience the Magic of Reading.</p>
          </div>
      </div>
      
    </div>
    {%endblock%}