{%extends 'layout.html'%}
{%block style%}
<style>
  body{
    background: red;
  }
  </style>
{%endblock style%}
    {%block content%}

    <div class="container">
        <div class="row">
          <div class="col-6">
            <div>
                <img src="../static/editorial 1122.jpg" class="img-fluid" alt="Editorial Board">
            </div>
          </div>
          <div class="col-6 fs-3">
            <p>Good Choice ! If you want to join the Editorial Board , Click on "Click Here" given below .</p><br>
            <p><a target="u_blank" href="https://forms.office.com/Pages/ResponsePage.aspx?id=FNT6_6O2Mk-pvULSj8gR8fVjRH7lkwNKqTXuxc4fpVlUMlREWTVUS0I4WFFZMDZXTzE4ODkzSVUwVC4u"> <button class="btn-underline"> <span>Click here</span> </button> </a>To Join The Club !</p>
        
          </div>
        </div>
    </div>
    {%endblock%}